body {
  margin: 0;
}

.container {
  background: #FFF;
  display: flex;
  flex-wrap: nowrap;
}

.navigation {
  width: 200px;
  height: 100vh;
  background: #1b1b1b;
  border-right: 1px solid #070707;
  padding-top: 59px;
}

.menuItem {
  width: calc(100% - 20px);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  border-bottom: 1px solid #4b4b4b;
  font-size: 13px;
  color: #FFFFFF;

  svg {
    margin-right: 10px;
  }

  &:hover {
    background: #2d53a5;
    cursor: pointer;
  }
}

.activeMenuItem {
  @extend .menuItem;

  background: #305cc8;
}

.content {
  width: 100%;
}