.buttonBase {
  border-radius: 4px;
  border: 1px solid #333;
  padding: 8px 12px;
  outline: none;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
  }
}

.default {
  @extend .buttonBase;

  border-color: #aaaaaa;
  background: #dddddd;
  color: #333;

  &:hover {
    background: #c9c9c9;
    color: #2b2b2b;
  }
}

.primary {
  @extend .buttonBase;

  border-color: #1e1e1e;
  background: #232322;
  color: #f0f0f0;

  &:hover {
    background: #0f0f0e;
    color: #ffffff;
  }
}

.secondary {
  @extend .buttonBase;

  border-color: #2d54a5;
  background: #305bc8;
  color: #ebebeb;

  &:hover {
    background: #2d53a5;
    color: #ffffff;
  }
}

.positive {
  @extend .buttonBase;

  border-color: #008710;
  background: #009b0f;
  color: #ebebeb;

  &:hover {
    background: #008710;
    color: #ffffff;
  }
}

.negative {
  @extend .buttonBase;

  border-color: #912325;
  background: #a52225;
  color: #ebebeb;

  &:hover {
    background: #912325;
    color: #ffffff;
  }
}