.moduleContainer {

}

.moduleContent {
  padding: 10px;
  display: flex;
}

.list {
  width: 600px;
  height: calc(100vh - 80px);
  overflow: auto;
}

.preview {
  width: 100%;
  padding: 0 20px;
  overflow: auto;
}

.listItem {
  padding: 10px;
  border-bottom: 1px solid #c3c3c3;
  display: flex;
  align-items: center;

  &:hover {
    background: #e1e1e1;
    cursor: pointer;
  }

  .name {
    width: 100%;
    font-size: 12px;
  }

  .counters {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    & > div {
      margin-left: 10px;
    }
  }
}

.activeListItem {
  background: #bcd5ff;
}

.previewCounters {
  display: flex;
  margin-bottom: 10px;

  & > div {
    margin-right: 10px;
  }
}

.dataPreview {
  overflow: auto;
  max-height: calc(100vh - 215px);
  padding: 10px;
}
