.SearchBox {
  padding: 9px;
  border-bottom: 1px solid #333;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;

  .filters {
    position: relative;
    margin-left: 10px;
  }

  .filtersTooltip {
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    background: #ffffff;
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    width: 350px;
    display: none;

    &:after {
      position: absolute;
      right: 21px;
      top: -9px;
      content: ' ';
      width: 0;
      height: 0;
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      border-bottom: 9px solid #ffffff;
    }
    &:before {
      position: absolute;
      right: 20px;
      top: -10px;
      content: ' ';
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #dddddd;
    }
  }

  .opened {
    display: flex;
  }
}